.text-decorator-none {
    text-decoration: none;
}
.imagem {

        background-image: url(../../assets/img/sunset.png);
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}
.img-login {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.textos {
    font-weight: bold!important;
    color: #CD5C5C!important;
}
.MuiInputBase-input {
    background-color: white!important;
}