.profileImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.profileImage {
    border: 3px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 150px;
}
.profile-name {
    font-size: 40px!important;
    font-weight: 150!important;
}
.profile-email {
    font-size: 25px!important;
    font-weight: 100!important;
}
.linha-perfil {
    margin-top: 20px;
    margin-bottom: 20px;
}
